/* Usuario Web */
/* ejercicio básico de regsitro e inicio de sesión de usuario */

:root {
  --fuente-family: 'Roboto', sans-serif;
  --fuente-color: hsla(0, 0%, 19%, 1);
  --fondo-body: hsla(0, 0%, 86%, 1);
  --fondo-sesion: hsla(0, 0%, 100%, 1);
  --boton-color: hsla(212, 76%, 55%, 1);
  --boton-color-active: hsla(212, 76%, 36%, 1);
  --centrado: center;
}

/* ----- estilos generales ----- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fuente-family);
  color: var(--fuente-color);
}


.caja-sesion {
  display: flex;
  justify-content: var(--centrado);
  align-items: var(--centrado);
  height: 80vh;
  background-color: var(--fondo-body);
}

.sesion {
  background-color: var(--fondo-sesion);
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  width: clamp(600px, 30%, 600px);
  min-width: 600px;
  height: 60%;
  padding: 3em;
  border-radius: 15px;
  text-align: var(--centrado);
}


.registro {
  height: 80%;
}


input {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 2px solid var(--fondo-body);
}

input:focus {
  outline: none;
}

.boton {
  background-color: var(--boton-color);
  color: var(--fondo-sesion);
  font-size: 1.2em;
  margin-top: 5px;
  border: none;
}

.boton:active {
  background-color: var(--boton-color-active); 
}



/* ----- inicio de sesión ----- */

.inicio {
  height: 45%; 
}

.inicio-caja {
  position: relative;
}

.inicio-input:focus + .inicio-label,
.inicio-input:not(:placeholder-shown) + .inicio-label{
  transform: translateY(-12px) scale(.7);
  transform-origin: left top;
}

.inicio-label {
  position: absolute;
  top: 0;
  left: 5px;
  font-family: var(--fuente-family);
  font-size: 0.9em;
  color: grey;
  transform: translateY(7px);
  transition: transform .5s, color .3s;
}


/* ----- registro de usuario ----- */

.registro {
  height: 80%;
}

.boton-2 {
  display: block;
  background-color: var(--fondo-sesion);
  font-size: 0.9em;
  color: grey;
  border: solid 1px var(--fondo-body);
  padding: 5px;
  margin-bottom: 1.5em;
}

.boton-2:hover {
  background-color: var(--boton-color);
  color: var(--fondo-sesion);
}

.boton-2:active {
  background-color: var(--boton-color-active);
}

/* ----- usuario conectado ----- */

.conectado {
  height: 40%;
}

.img-conectado {
  width: 5em;
  height: 5em;
}



/* ----- Cinta de menú ----- */

a {
  text-decoration: none;
  padding: 1.5em;
}

a:active {
  color: var(--boton-color);
}

.a-actual {
  color: var(--boton-color-active);
}

.caja-menu {
  display: flex;
  justify-content: var(--centrado);
  align-items: var(--centrado);
  height: 20vh;
  background-color: var(--fondo-body);
}

.menu {
  width: 50%;
  height: 50%;
  padding: 3em;
  margin: auto;
  text-align: var(--centrado);
}
